# Android / Gradle
**/build/
**/captures/
**/.gradle/
**/.cxx/
.externalNativeBuild/

# IDE
.idea/*
!.idea/codeStyles
!.idea/runConfigurations

# Kotlin compiler / sessions
.kotlinc/
.kotlin/
.kotlin/sessions/

# System files
*.iml
.DS_Store
Thumbs.db

# Local configs
local.properties
gradle.properties.local
keystore.properties

# Logs
*.log

# Generated
**/generated/

# Keystore
*.jks
*.keystore
